 




/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {} 


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .start_btn{
        width: 51vw;
        height: 18vh;
    }
    .start_btn button{
        font-size: 5vw;
    }

    .info_box.active {
        width: 90vw;
        height: 75vw;
    }
    .info_title{
    font-size:3vw;
    }
    .info_list button{
    font-size: 1vw;
    }
    .info_details {
    font-size: 4vw;
    }
    
    .quiz_box{
        width: 90vw;
    }
  .result_box.active {
    width:70vw;
}
}
@media only screen and (max-width: 360px) {
    .info_box.active {
        width: 90vw;
        height: 75vw;
    }
    .info_title{
    font-size:2vw;
    width: 82%;
    }
    .info_details {
        font-size: 4vw;
    }
 .buttons button{
    font-size: 3vw;    }
    
}
.buttons{
    
    bottom: -14px;

}